@import "moyo_header";
@import "product_card";
@import "normalize";
@import "stars";

.conniner-for-cards {
  display: grid;
  grid-template-columns: repeat(4, $cardWidth);
  grid-auto-rows: $cardHeight;
  column-gap: 48px;
  row-gap: 50px;
  margin: 50px auto;
  max-width: $cardWidth * 4 + $sumforDistanceBeteewnCards;
}
